@font-face {
    font-family: four-grotesk;
    font-style: normal;
    src: url(fonts/HALFourGrotesk-Regular.ttf);
}

@font-face {
    font-family: four-grotesk;
    font-style: italic;
    src: url(fonts/HALFourGrotesk-RegularItalic.ttf);
}

@font-face {
    font-family: blitz;
    font-style: italic;
    src: url(fonts/Blitz\ Script.otf);
}


body {
    width: 60vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    font-family: four-grotesk;
    background-color:skyblue;
    color:lightyellow;
}

#Marie {
    font-family:serif;
    font-size:2.5rem;
}

h1 {
    font-weight:normal;
    font-size: 2rem;
    padding-top:.3rem;
    padding-bottom:.3rem;
    margin: 0rem;
    
}

h2 {
    margin-top:0rem;
    font-weight:normal;
    font-size: 1rem;
    border-bottom: 1px solid lightyellow;
}

.heading {
    justify-content:center;
    padding-top:.3rem;
    padding-bottom:.3rem;
    margin: 0rem;
    border-bottom: 1px solid skyblue;

    color:skyblue;
    background-color:lightyellow;
    font-family:serif;
    font-size: 2.5rem;

}
#about {
    background-color:skyblue;
    color:lightyellow;
}
#about:hover {
    background-color:lightyellow;
    color:skyblue;
}

.labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid lightyellow;

    margin: 0rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size:2rem;
    color: lightyellow !important;
}

.row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    border-bottom: 1px solid lightyellow;
    padding:.3rem;
    gap:1rem;
}

#title {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    border-bottom: 1px solid lightyellow;
    padding:.3rem;
    gap:1rem;

}

.row:hover {
    font-size:2rem;
    line-height:2rem;
    border-bottom-color:skyblue;
}

.class {
    flex:1.6;
    text-align: left;
}
.number {
    flex:.4;
    text-align:left;
}

.title-label {
    flex:4;
    text-align:center;
}

.title {
    flex:4;
    text-align:center;
    font-style: italic;
}

.description {
    flex: 4;
    text-align:right;
}

a {
    text-decoration:none;
    color:lightyellow;
}

a:hover {
    background-color:lightyellow;
    color:skyblue;
}

/* css for about.html */

#body2 {
    background-color:lightyellow;
}

#about-container {
    background-color:skyblue !important;
   
    height:92vh;
    position:relative;
    top:4vh;

    display:flex;
    flex-direction:column;
    gap:0px;
}

.about-rows {
    display:flex;
    flex-direction:row;
}


.rounded {
    background-color:lightyellow;
    border: 1px solid skyblue;
    color:skyblue;
    padding:.5rem;
    margin:0rem;
}

.rounded:hover {
    border-radius: 1rem;
    transition: .2s;
}

#about-row-1 {
    flex:1;
}


#back {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    
}

#back:hover {
    text-decoration:underline;
}

#about2 {
    flex:8;
    font-family:serif;
    font-size:2.5rem;
    border-left:0px;
    margin:0rem;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    background-color:skyblue;
    color:lightyellow;
}
#about2:hover {
    border-radius:0rem;
}

#about-row-2 {
    flex:2;
}

#bio {
    flex:6;
    padding-left:2rem;
    padding-right:2rem;
    border-top:0px;
}

#bio-h1 {
    padding-bottom: 0rem;
}

#links {
    flex:4;
    border-left:0px;
    border-top:0px;

    display:flex;
    flex-direction:column;
}

#instagram {
    flex:1;
    /* border-top:1px solid skyblue; */
    border-left:0px;
    border-top:0px;
    border-bottom:0px;

    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

#instagram:hover {
    text-decoration:underline;
}

#portfolio {
    flex:1;
    border-left:0px;

    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
#portfolio:hover {
    text-decoration:underline;
}

#web {
    flex:1;
    border-left:0px;
    border-top:0px;

    display:flex;
    flex-direction:column;
    justify-content: space-around;

}

#web:hover {
    text-decoration:underline;
}

#about-row-3 {
    flex:7;
}

#about-row-3-left {
    flex:5;
    display:flex;
    flex-direction:column;
}

#goals {
    border-top:0px;
    border-bottom:0px;
    flex:3;
}

#cat {
    padding:0rem;
    border-bottom:0px;
    background-color:skyblue;
}

#cat-caption {
    background-color:skyblue;
    color:lightyellow;
}
img {
    width:100%;
    height:100%;
    border-radius:.9rem;
    opacity:80%;
}

#favs {
    flex:5;
    border-top:0px;
    border-left:0px;
    /* list-style-position:inside; */
}

.lists {
    text-align:left;
}

.resolutions {
    text-decoration:none!important;
}

li:hover {
    text-decoration:underline;
}

.fave-sh {
    text-align:center;
}

.about-links {
    color:skyblue;
}

#inspo {
    font-size:.8rem;
}